<div>
  <mat-toolbar color="primary">
      <span><mat-icon>mood</mat-icon></span>

      <span>Yay, Material in Angular 2!</span>

  </mat-toolbar>
  <div>

    <input #videoId
      (keyup.enter)="getVideo(videoId.value)"
      (blur)="getVideo(videoId.value); videoId.value='' "
      placeholder="Twitch Video Id">

    <button mat-fab (click)="getVideo(videoId.value)">Load!</button>

  </div>
  <div>
    <iframe
      [src]= "vidSrc"
      height="480"
      width="854"
      frameborder="30"
      scrolling="no"
      allowfullscreen="true">
    </iframe>

  </div>
  <div>
    <ul class="highlightList">
      <li *ngFor="let highlight of highlightList">
        {{ highlight.score }}, {{highlight.time}}, <button (click)="selectHighlight(highlight)">Load!</button>
      </li>
    </ul>
  </div>
</div>
